KAFKA_BROKER=localhost:9092
KAFKAJS_NO_PARTITIONER_WARNING=1
REDIS_HOST=localhost
REDIS_PORT=6379
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=catalyst
POSTGRES_PASSWORD=catalyst
POSTGRES_DB=catalyst